@import 'node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';


.navbar-brand{
	padding: 10px;
	h1{
		margin: 0;
	}
}

.no-padding{
	padding: 0;
}

#activities-list{
	.activity{
		display: flex;
		padding: 7px;

		border-bottom: 1px solid #ebebeb;
		img{
			display: inline-block;
			margin-right: 15px;
		}
		.info{
			display: inline-block;
			height: 100%;
			h3{
				margin-top: 10px;
			}
			a{
				color: #333;
				&:hover,
				&:focus{
					text-decoration: none;
				}
			}
		}

		&:last-of-type{
			border-bottom: 0;
		}
	}
}

.detail{
	img{
		width: 100%;
	}
	.header{
		h2{
			display: inline;
		}
		a{
			display: inline;
		}
	}

	#act-address{
		font-weight: bold;
		margin-bottom: 20px;
	}
	#map{
		background-color: #fffef4;
		height: 200px;
		margin-bottom: 20px;
	}

	.data{
		span{
			margin-right: 10px;
		}
	}

	.categories{
		span{
			margin-left: 10px;
			color: #999;
		}
	}
}