<div class="container detail">
	<div id="detail-activity" class="row">
		<div class="col-md-3">
			<img id="act-img" src="http://placehold.it/120x120">
		</div>
		<div class="col-md-9">
			<div class="col-md-12">
				<div class="header">
					<h2 id="act-title"> Titulo </h2>
					<a id="add-elem" data-add="true" href="0">Agregar</a>
				</div>
				<p id="act-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			
			<div class="col-md-12">
				<span id="act-address">842 Sheffield Avenue, Johnsonburg</span>
				<div id="map"></div>
			</div>

			<div class="col-md-6 data">
				<span id="open-time">00:00</span>
				<span id="close-time">00:00</span>
				<span id="price">$00.00</span>
			</div>
			<div id="act-cat" class="col-md-6 categories">
				<span class="pull-right">park</span>
				<span class="pull-right">party</span>
			</div>
		</div>
	</div>
</div>